{:linters
 {:unresolved-var
  {:exclude [org.httpkit.client/get
             org.httpkit.client/post

             taoensso.telemere/*ctx*
             taoensso.telemere/add-handler!
             taoensso.telemere/get-handlers
             taoensso.telemere/handler:console
             taoensso.telemere/handler:file
             taoensso.telemere/pr-signal-fn
             taoensso.telemere/set-ctx!
             taoensso.telemere/set-middleware!
             taoensso.telemere/stop-handlers!]}}}
