{:db/conf #profile {:aws  #_{:backend :mem :id "docker"} {:backend  :file
                                                          :path     "./dthk" #_"/mnt/efs/dtlv"}
                    :test nil}

 :bot/default-language-code :en

 :bot/roles {}

 :project/config {}}
