{:user/uuid {:db/cardinality :db.cardinality/one
             :db/unique :db.unique/identity
             :db/doc "UUID of User"}

 :user/username {:db/cardinality :db.cardinality/one
                 :db/unique :db.unique/identity
                 :db/doc "User's Telegram username"}

 :user/id {:db/cardinality :db.cardinality/one
           :db/unique :db.unique/identity
           :db/doc "User's Telegram ID (and chat_id in private chats)"}

 :user/first-name {:db/cardinality :db.cardinality/one
                   :db/doc "User's first name in Telegram profile"}

 :user/last-name {:db/cardinality :db.cardinality/one
                  :db/doc "User's last name in Telegram profile"}

 :user/language-code {:db/cardinality :db.cardinality/one
                      :db/doc "User's language code in Telegram profile"}

 :user/msg-id {:db/cardinality :db.cardinality/one
               :db/doc "ID of 'main' chat message for this User"}

 :callback/uuid {:db/cardinality :db.cardinality/one
                 :db/unique :db.unique/identity
                 :db/noHistory true
                 :db/doc "UUID of Callback"}

 :callback/function {:db/cardinality :db.cardinality/one
                     :db/noHistory true
                     :db/doc "Qualified symbol of function of Callback"}

 :callback/arguments {:db/cardinality :db.cardinality/one
                      :db/noHistory true
                      :db/doc "EDN-serialized arguments of Callback"}

 :callback/user {:db/valueType :db.type/ref
                 :db/cardinality :db.cardinality/one
                 :db/noHistory true
                 :db/doc "The User for whom this Callbak is intended"}

 :callback/service? {:db/cardinality :db.cardinality/one
                     :db/noHistory true
                     :db/doc "Indicates is this callback a service one. If `true` then User's Callback will not reset."}

 :callback/message-id {:db/cardinality :db.cardinality/one
                       :db/noHistory true
                       :db/doc "ID of Message this Callback is associated with"}}
