{:test-entity/user {:db/valueType :db.type/ref
                    :db/cardinality :db.cardinality/one
                    :db/unique :db.unique/identity}

 :test-entity/data {:db/cardinality :db.cardinality/one}}
